# Based from: https://github.com/github/gitignore/blob/main/Go.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/

# Qoqo
.qodo/

#Bsed from: https://github.com/golang-standards/project-layout/blob/master/.gitignore
# Mac OS X files
.DS_Store

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Docker build
**/brokerApp
**/bin/
**/tmp/